name: C/C++ CI

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

env:
  BUILD_CONFIG: Release

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Format check
        run: .github/format-check.sh
        
  build:
    name: Build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            arch: x86_64
            cache_path: ~/.ccache
            cmake_preset: linux-ninja-clang

          - os: ubuntu-24.04-arm
            arch: aarch64
            cache_path: ~/.ccache
            cmake_preset: linux-ninja-clang

          #- os: windows-latest
          #  arch: x86_64
          #  cache_path: |
          #    C:\vcpkg\installed
          #    C:\vcpkg\packages
          #    C:\Users\runneradmin\AppData\Local\ccache
          #  vcpkg_triplet: x64-windows-static-md
          #  extra_cmake_args: -DCMAKE_TOOLCHAIN_FILE=C:\vcpkg\scripts\buildsystems\vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows-static-md
          #  cmake_preset: windows-ninja
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up build environment (Linux)
        run: |
          sudo apt update
          sudo apt -y install ccache ninja-build libfuse2
        if: startsWith(matrix.os, 'ubuntu')

      - name: Set up build environment (Windows)
        run: |
          vcpkg install openssl --triplet=${{ matrix.vcpkg_triplet }}
          choco install ccache
        if: runner.os == 'Windows'

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}
        if: runner.os == 'Windows'

      - uses: actions/cache@v5
        with:
          path: ${{ matrix.cache_path }}
          key: cache-${{ matrix.os }}-${{ env.BUILD_CONFIG }}-${{ github.sha }}
          restore-keys: |
            cache-${{ matrix.os }}-${{ env.BUILD_CONFIG }}-

      - name: Reset ccache statistics
        run: ccache -z

      - name: Build v3kn
        run: |
          cmake ${{ matrix.extra_cmake_args }} --preset ${{ matrix.cmake_preset }}
          cmake --build build/${{ matrix.cmake_preset }} --config ${{ env.BUILD_CONFIG }}

      - name: Print ccache statistics
        run: ccache -s

      - name: Run tests
        working-directory: build/${{ matrix.cmake_preset }}
        run: ctest --build-config ${{ env.BUILD_CONFIG }} --output-on-failure

      - name: Compute git short SHA
        shell: bash
        run: echo "GIT_SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: v3kn-${{ env.GIT_SHORT_SHA }}-${{ matrix.os }}
          path: build/${{ matrix.cmake_preset }}/bin/${{ env.BUILD_CONFIG }}

  create-release:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: create-release-${{ github.ref }}
      cancel-in-progress: true
    if: |
      github.ref == 'refs/heads/master' &&
      github.repository == 'Zangetsu38/v3kn'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.sha }}

      - name: Download Artifacts
        uses: actions/download-artifact@v7

      - name: Get commit info
        run: |
          echo "GIT_SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
          echo "BUILD_VARIABLE=$(git rev-list --count HEAD)" >> $GITHUB_ENV
          echo "LAST_COMMIT_MESSAGE=$(git log -1 --pretty=format:'%s')" >> $GITHUB_ENV

      - name: Get last committer
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          COMMITTER=$(curl -s -H "Authorization: token $GITHUB_TOKEN" \
          https://api.github.com/repos/${{ github.repository }}/commits/${{ github.sha }} \
          | jq -r '.commit.author.name')
          echo "COMMITTER_NAME=$COMMITTER" >> $GITHUB_ENV

      - name: Prepare artifacts
        run: |
          mkdir -p artifacts-master
          files=$(find . -maxdepth 1 -type d -name "v3kn-*")
          for f in $files; do
            dir=$(basename $f)
            if [[ $dir == *-ubuntu-latest ]]; then
              echo "Processing $dir (Ubuntu x86_64)"
              (cd $dir && zip -r ../artifacts-master/ubuntu-latest.zip *)
            elif [[ $dir == *-ubuntu-24.04-arm ]]; then
              echo "Processing $dir (Ubuntu ARM64)"
              (cd $dir && zip -r ../artifacts-master/ubuntu-aarch64-latest.zip *)
            elif [[ $dir == *-windows-latest ]]; then
              echo "Processing $dir (Windows x86_64)"
              (cd $dir && zip -r ../artifacts-master/windows-latest.zip *)
            fi
          done
          echo "=== artifacts-master ==="
          ls -al artifacts-master/

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: continuous
          name: Automatic CI builds
          body: |
            Corresponding commit: ${{ github.sha }}
            v3kn Build: ${{ env.BUILD_VARIABLE }}
          draft: false
          prerelease: false
          make_latest: false
          overwrite_files: true
          files: artifacts-master/*.zip
